.footer{
    width:100%;
    /* margin-top: 40px; */
    margin-top: auto;
    height: 80px;   
    position: absolute;
    bottom: 0;
    background:#3d3f43;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerDesc{
    color: white;
    font-size: 20px;
    font-weight: 300;
}