@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300&display=swap");

.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.banner {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: mediumseagreen;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: center;
  font-size: larger;
  color: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
