.App {
  text-align: center;
  margin: 5px;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

@media all and (orientation:landscape) {
  /* стили для пейзажа */
    .App  {

      background-image: url("./jute-1655.jpg");

      border: 5px solid transparent;
      border-image: url("./frame-2487285.png") 50 round;   

    }
 }
