.exhibit    {
    width: 98%;
    height: 540px;
    margin: 5px;
    display: inline-block;
    padding: 3px;

    background-image: url("./canvas-546877.jpg");

      border: double;
      border-width: 3px;
}